.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: var(--color-header);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: transform 0.3s ease-in-out;
}

.header.hidden {
  transform: translateY(-100%);
}

.header__logo {
  position: relative;
  font-size: 25px;
  color: var(--color-white);
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.navbar a {
  display: inline-block;
  font-size: 25px;
  color: var(--color-white);
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
  opacity: 0;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
  position: relative;
}

.navbar a:hover,
.navbar a.active {
  color: var(--color-high-pink);
  text-shadow: 0 0 5px var(--background-color), 0 0 25px var(--background-color),
    0 0 50px var(--color-white);
  transition: 0.5s;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 10;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background-color: var(--color-white);
  margin: 3px 0;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.menu-toggle.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 8px;
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
  transform: rotate(-45deg);
  top: -10px;
}

.navbar {
  display: flex;
  gap: 20px;
}

@media (max-width: 825px) {
  .menu-toggle {
    display: flex;
  }

  .navbar {
    display: none;
    height: 350px;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 30px;
    background-color: var(--color-black-fade);
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 9;
    border-radius: 10px;
    overflow: hidden;
  }

  .active {
    display: flex;
    justify-content: center;
  }

  .navbar a {
    padding: 10px;
  }
}

#menu-toggle span::before,
#menu-toggle span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--color-white);
  transition: all 0.3s ease-in-out;
}

.navbar a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: var(--color-pink);
  transition: width 0.4s ease;
}

.navbar a:hover::after {
  width: 100%;
}

.home {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../../images/bg.jpg) no-repeat center center/cover;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 70px 10% 0;
}


@media (max-width: 768px) {
  .home {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)),
      url(../../images/bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.home__content {
  max-width: 600px;
}

.home__content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}

.home__content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}

.home__content h3 span {
  color: var(--color-pink);
  text-shadow: 0 0 5px var(--color-pink);
}

.home__content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home__content p {
  font-size: 20px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.home__content-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid var(--color-pink);
  border-radius: 50%;
  font-size: 20px;
  color: var(--color-pink);
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.home__content-sci a:hover {
  background: var(--color-pink);
  color: var(--background-color);
  box-shadow: 0 0 20px var(--color-pink);
}

.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background-color: var(--color-pink);
  border-radius: 40px;
  color: var(--background-color);
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px var(--color-pink), 0 0 20px var(--color-pink);
}

.btn-box:hover {
  box-shadow: 0 0 5px var(--color-pink), 0 0 25px var(--color-pink),
    0 0 50px var(--color-pink), 0 0 100px var(--color-pink),
    0 0 200px var(--color-pink);
}

